version: "3.9"

services:
  sable:
    container_name: sable_frontend
    build: .
    ports:
      - "3000:3000"
    volumes:
      - .:/app
      - /app/node_modules
    stdin_open: true
    tty: true

