# Dependencies
node_modules

# Environment files
.env
.env.local
.env.*.local

# Git
.git
.gitignore

# IDE
.vscode
.idea
*.swp

# OS files
.DS_Store
Thumbs.db

# Logs
*.log
logs
npm-debug.log

# Testing
coverage
